* {
  margin: auto;
  align-items: center;
  background-image: url("./assets/images/homepage_grid.png");
  background-size: contain;
}

.App {
  background-color: #7a7adb;
  background-image: linear-gradient(315deg, #2b63ac 0%, #170e13 74%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: fit-content;
  min-height: 100vh;
  width: 100%;
  height: fit-content;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features{
  margin-top: 0;
}

.content,.container01 {
  /* background: 
  linear-gradient(
      to left bottom,
      rgb(50, 47, 223) 0%,
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0.2) 90%
    ),
    linear-gradient(
      to bottom,
      rgb(11, 66, 218) 0%,
      rgb(37, 19, 196) 5%,
      rgba(0, 0, 0, 1) 30%
    ); */
  background-blend-mode: exclusion;
  /* padding: 15vh; */
  /*height: 50vh;*/
  width:100 vw;
  font-size: larger;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.content{
  border-radius: 20px;
  padding: 2em;
  width: 90vw;
  margin: 0;
  margin-top: 200px;
}

.homepageCard {
  background-color: aliceblue;
}
.about {
  width: 100vw;
  min-height: 25vh;
  overflow: hidden;
}


.content2 {
  padding: 5em;
  text-align: center;
  align-items: center;
  position: relative;
  height: 120vh;
  width: 100%;
  z-index: 1;
}
.content2::before {
  content: "";
  background-image: url("/src/assets/images/team.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: grayscale(80%) opacity(1.0) blur(2px); /* Adjust opacity as needed */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.content1{
  padding: 5em;
  text-align: center;
  align-items: center;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.menu {
  margin: 2em;
  border: solid red 2px;
}
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171923;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 1;
  background-size: cover;
}

.loading-logo {
  width: 120px;
  height: 120px;
}
.loading-spinner:after {
  content: "";
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 100%;
  box-shadow: 0 4px 4px 0 rgb(118, 189, 63);
  transition: all 1s linear;
  animation: lds-eclipse 1s linear infinite;
}

@keyframes spinning {
  0% {
    transform: translate(-50%, -50%) scale(1) translateZ(0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1) translateZ(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1) translateZ(0);
  }
}

@keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* Teams page */

.team-heading{
  color: white;
  font-family: "Orbitron", sans-serif;
}

.our-team {
	text-align: center;
  margin: 5em auto;
  height: 10em;
  width : 10em;
}

.our-team .pic {
	position: relative;
	border-radius: 50%;
	overflow: hidden;
}

.our-team .pic:before {
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 0 0 0 0 #6498ff98 inset;
	opacity: 0.5;
	transition: all 1s ease-in-out 0s;
}

.our-team:hover .pic:before {
	box-shadow: 0 0 0 400px #6498ff98 inset;
}

.pic img {
	width: 10em;
	height: 10em;
}

.our-team .social-links {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	top: 50%;
	left: 0;
}

.our-team .social-links li {
	display: inline-block;
	margin-right: 10px;
	transform: scale(0, 0);
	transition: all 0.7s ease-in-out 0s;
}

.our-team:hover .social-links li:nth-child(1) {
	transition-delay: 0.1s;
	transform: scale(1, 1);
}

.our-team:hover .social-links li:nth-child(2) {
	transition-delay: 0.2s;
	transform: scale(1, 1);
}

.our-team:hover .social-links li:nth-child(3) {
	transform: scale(1, 1);
	transition-delay: 0.3s;
}

.our-team:hover .social-links li:nth-child(4) {
	transition-delay: 0.4s;
	transform: scale(1, 1);
}

.our-team:hover .social-links li:nth-child(5) {
	transition-delay: 0.5s;
	transform: scale(1, 1);
}

.our-team .social-links li a {
	font-size: 30px;
	color:white;
}

.our-team .social-links li a:hover {
	text-decoration: none;
}

.our-team .team-title {
	font-size: 22px;
	font-weight: bold;
	color: #add8e6;
	text-transform: capitalize;
	margin-top: 10px;
}

.our-team .post {
	display: block;
	font-size: 14px;
	color: #687177;
	text-transform: capitalize;
}

@media screen and (max-width: 990px) {
	.our-team {
		margin-bottom: 20px;
	}
  .card1{
    position: absolute;
    top: 0;
  }
  .card2{
    position: absolute;
    top: 35%;
  }
  .card3{
    position: absolute;
    top: 70%;
  }
  .content2{
    height: 1500px;
  }
  .container{
    margin-bottom: 75px;
  }
  .content{
    margin-top: 50px;
  }
}

.markdown-style{
  font-size: 17px;
  color: #BDE0FF;
  margin-left: 5px;
  font-weight: 500;
}
  
.slide-fade1 {
  transition: opacity 0.3s ease-in-out;
  display: none;
}

.slide-fade1.visible{
  opacity: 0.8;
  display:block;
  transform: translateY(-20px);
  position:absolute;
}



.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: auto;
}

.slide {
  flex: 1;
  opacity: 1;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

button {
  cursor: pointer;
  margin-top: 1rem;
}

.navigation-buttons button {
  color:#008080;
  padding: 1rem;
}

.navigation-buttons button.active {
  color: white; 
  size: 2rem;
}
.sponsorImg{
  max-width: 120px;
  max-height: 120px;
}

.circle {
  background-color: white;
  cursor:pointer;
  height: 88px;
  width: 88px;
  border-radius: 50%;
  padding: 2px;
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
  top:-60px;
  border:3px solid #F95C39;
  box-shadow:0px 0px 6px black;
}
#goTop{
  position: relative;
  top:-60px; 
  height:85px;
  width:85px;
  align-content: center;
  background:white;
}

#copyright{
  background-color: transparent;
}

footer{
/* margin-top:60px; */
background-size: 100vh 100vw;
background-size:cover;
box-shadow:0px 0px 10px grey;
display: inline-block;
background-repeat: no-repeat;
position: relative;
width: 100%;
margin-left: auto;
margin-right: auto;
}
.footerTitle{
  color:#ffffff;
  justify-content: center;
  text-indent: 40px;
}
#footerContainer{
  align-content: center;
  justify-content: center;
}
.columnContentText{
  color:white;
}
.mapouter{
  margin: auto;
  text-align:right;
  left:30%;
  height:300px;
  width:300px;
}
.gmap_canvas{
  overflow:hidden;
  background:none!important;
  height:300px;
  width:300px;
}
@media screen and (max-width: 480px) {
  img {
       max-width: 400px;
  }
}
.context-dark, .bg-gray-dark, .bg-primary {
  color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
  color: white;
}
.nav-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-list li a:hover:before {
  margin-left: 0;
  opacity: 1;
  visibility: visible;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 23px;
  font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/********************Our Activities************************/

.wrapper{
  /* margin-top: 20px; */
  width: 100vw;
  height: 100vh;
  margin: auto;
  /* position: relative; */
  /* flex-direction: column; */
  overscroll-behavior: none;
}

.titlecontainer {
  width: 100%;
    overflow: hidden;
    overscroll-behavior: none;
    height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  scroll-snap-type: x mandatory;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
.carousel-container
{
  height: 100%;
    width: auto;
}
.slider
{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
}
.t1,.t2,.t3,.t4,.t5,.t6 {
    scroll-snap-align: start;
    list-style-type: none;
    position: absolute;
    /* top: 50%; */
    transform: translateY(-50%);
    border-radius: 20px;
    /* box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset; */
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
    left: 0;
    /* top: 0; */
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.detail{
  opacity: 1;
  z-index: 9;
  position: absolute;
  left: 35vw;
  top: 0;
  background-color: #001f20;
  width: 30vw;
  height: 100%;
  padding-top: 25%;
}
.c1,.c2,.c3,.c4,.c5,.c6 
{
  scroll-snap-align: start;
  width: 200px;
  height: 250px;
  list-style-type: none;
  /* position: absolute; */
  /* top: 50%; */
  transform: translateY(-50%);
  /* z-index: 1; */
  background-position: center;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
  /* left: 0; */
  /* top: 0; */
  width: 35vw;
  height: 100%;
  transform: none;
  border-radius: 0;
  box-shadow: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.co1,.co2,.co3,.co4,.co5,.co6 {
  width: min(30vw,400px);
  position: absolute;
  top: 70%;
  left: 2rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica,sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0,0,0,0.5);
  opacity: 0;
  display: none;
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}


.title {
  font-family: 'montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.description {
  line-height: 1.7;
  font-family: 'montserrat', sans-serif;
  margin: 1rem 0 1.5rem;
  font-size: 0.8rem;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@media (width > 650px) and (width < 900px) {

  .title        { font-size: 1rem; }
  .description  { font-size: 0.7rem; }

  .c1,
  .c2,
  .c3,
  .c4,
  .c5,
  .c6 {
    width: 160px;
    height: 270px;
  }
}


@media (width < 650px) {
    .title        { font-size: 0.9rem; }
    .description  { font-size: 0.65rem; }

    .c1,
    .c2,
    .c3,
    .c4,
    .c5,
    .c6 {
    width: 130px;
    height: 220px;
  }
}


/*Mobile*/


@media (max-width: 768px) {
  .wrapper {
    width: 100vw;
    overflow-x: hidden;
  }

  .slider {
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    transform: translateY(-180px);
  }

  .t1, .t2, .t3, .t4, .t5, .t6 {
    flex-direction: column;
    height: auto;
    flex-wrap: wrap;
  }

  .detail {
    position: absolute;
    width: 91vw;
    /* height: auto; */
    padding: 1rem;
    margin-top: 0;
    top: 94%;
    left: 2em;
    transform: translateX(-1em);
  }

  .c1, .c2, .c3, .c4, .c5, .c6 {
    position: relative;
        width: 90vw;
        height: 200px;
        /* height: auto; */
        transform: none;
        background-attachment: scroll;
        margin-bottom: 1rem;
  }

  .co1, .co2, .co3, .co4, .co5, .co6 {
    position: relative;
    width: 100%;
    top: auto;
    left: auto;
    transform: none;
    margin: 0;
  }
}
@media (min-width: 376px) and (max-width: 425px) 
{
  .detail
  {
    left: 2em;
  }
}
@media (min-width: 426px) and (max-width: 768px) 
{
  .detail
  {
    left: 3em;
  }
}

@media (min-width: 769px)
{
  .wrapper{
    margin-top: 20px;
    /* margin-bottom: 20 px; */
    width: 100vw;
    height: 70vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overscroll-behavior: none;
    /* overflow-x: hidden; */
  }
  .slider
  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
  }
  
  .titlecontainer {
    width: 100%;
    overflow: hidden;
    overscroll-behavior: none;
  }
  
  .main {
    width: 100%;
    height: 100%;
    scroll-snap-type: x mandatory;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  }
  
  .t1,.t2,.t3,.t4,.t5,.t6 {
    scroll-snap-align: start;
    list-style-type: none;
    /* position: absolute; */
    /* top: 50%; */
    transform: translateY(-50%);
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
    /* left: 0;
    top: 0; */
    width: 35vw;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .detail{
    opacity: 1;
    z-index: 9;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #001f20;
    width: 75%;
    height: 100%;
    padding-top: 25%;
  }
  .c1,.c2,.c3,.c4,.c5,.c6 {
    scroll-snap-align: start;
    width: 200px;
    height: 250px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* z-index: 1; */
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .co1,.co2,.co3,.co4,.co5,.co6 {
    width: min(30vw,400px);
    position: absolute;
    top: 70%;
    left: 2rem;
    transform: translateY(-50%);
    font: 400 0.85rem helvetica,sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0,0,0,0.5);
    opacity: 0;
    display: none;
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
  }
  
  
  .title {
    font-family: 'montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .description {
    line-height: 1.7;
    font-family: 'montserrat', sans-serif;
    margin: 1rem 0 1.5rem;
    font-size: 0.8rem;
  }
}


.cont{
  height: 100vh;
}

.container {
  display: flex;

}
.custom-font-size {
  font-size: 16px;
}

.shadow{
  color: #ccc;
  position: relative;
  font-size: 4rem;
  margin-bottom: 20px;
}

.shadow p{
  font-weight: 100;
  opacity: 0.2;
}

/* .shadow h2{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 100%;
} */
/* .stack-component
{
  margin-
} */
.whoareweheader .shadow h2::before
{
  content: "WHO ARE WE?";
  position: absolute;
  font-size: 1.2em;
  left: 0;
  width:90vw;
  transform: translate(-36%, -5%);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fce253;
  color:transparent;
  opacity: 0.2;
}
.content4 .shadow h2::before
{
  content: "OUR ACTIVITIES";
  position: absolute;
  font-size: 1.2em;
  left: 0;
  width:90vw;
  transform: translate(5%, -5%);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fce253;
  color:transparent;
  opacity: 0.2;
}
.content5 .shadow h2::before
{
  content: "SO FAR WE HAVE WITNESSED";
  position: absolute;
  font-size: 1.2em;
  left: 0;
  width:90vw;
  transform: translate(-5%, -5%);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fce253;
  color:transparent;
  opacity: 0.2;
}
.content6 .shadow h2::before
{
  content: "OUR PAST SPONSORS";
  position: absolute;
  font-size: 1.2em;
  left: 0;
  width:90vw;
  transform: translate(-17%, -5%);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fce253;
  color:transparent;
  opacity: 0.2;
}
@media (min-width: 426px) and (max-width: 769px) 
{
  .whoareweheader .shadow h2::before
  {
    transform: translate(-33%, -5%);
  }
  .content5 .shadow h2::before
  {
    transform: translate(5%, -5%);
  }
}
@media (min-width: 376px) and (max-width: 426px)
{
  .whoareweheader .shadow h2::before
  {
    width:100vw;    
    transform: translate(-19%, -5%);
  }
  .content5 .shadow h2::before
  {
    width: 100vw;
    transform: translate(-13%, -4%);
    font-size: 1.1em;
  }
}
@media (max-width: 376px)
{
  .whoareweheader .shadow h2::before
  {
    transform: translate(-13%, -5%);
  }
  .content5 .shadow h2::before
  {
    width: 100vw;
    transform: translate(-10%, -2%);
    font-size: 1em;
  }
}
@media (min-width: 1025px)
{
  .whoareweheader .shadow h2::before
  {
    transform: translate(-41%, -5%);
  }
  .content5 .shadow h2::before
  {
    transform: translate(-20%, -5%);
  }
  .content6 .shadow h2::before
  {
    transform: translate(-18%, -5%);
  }
}
