* {
  margin: auto;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.content {
  text-align: center;
  align-items: center;
  border: solid blue 2px;
  height: 80vh;
  margin: 5em;
}
.about {
  width: 100vw;
  min-height: 25vh;
  background: linear-gradient(#a7f3a6, #cbf5cb);
  border-radius: 40% 50% 0% 0%;
  transform: scaleX(1.1);
}
.content2 {
  text-align: center;
  align-items: center;
  height: 80vh;
  background: linear-gradient(#cbf5cb, #ffffff);
}
