* {
  margin: auto;
  align-items: center;
}

.App {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}

.Navbar {
  text-align: center;
  min-height: 10vh;
}

.content {
  margin-top: 5em;
  font-size: larger;
  text-align: center;
  align-items: center;
  min-height: 30vh;
}
.about {
  width: 100vw;
  min-height: 25vh;
  background: linear-gradient(#a7f3a6, #cbf5cb);
  border-radius: 40% 50% 0% 0%;
  transform: scaleX(1.1);
}
.content2 {
  text-align: center;
  align-items: center;
  height: 80vh;
  background: linear-gradient(#cbf5cb, #ffffff);
}

.heading {
  margin: auto;
  padding-top: 5em;
  font-size: x-large;
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
