.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: max-content;
  height: 100vh;
  visibility: hidden;
}
.container01 {
  width:max-content;
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0) 80%,
    rgb(20, 51, 227) 95%
  );
}
.container02{
  width:max-content;
}
.headContainer {
  height: 100vh;
  z-index: 1;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  left: 50%;
  width:max-content;
  background: transparent;
}
.head {
  position: absolute;
  margin-top: 15px;
  top: 50%;
  left: 50%;
  width:fit-content;
  font-family: "Orbitron", sans-serif;
  font-size: clamp(1rem, 14vw, 7rem);
  color: rgb(207, 188, 188);
  transform: translate(-50%, -50%);
}

.homepageLayout {
  height: 60vh;
  display: flex;
  flex-direction: row;
}

.homepageCard {
  display: flex;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.248) 0%,
    rgba(226, 81, 81, 0.062) 100%
  );
  box-shadow: 0px 4px 24px 1px rgba(35, 16, 94, 0.25);
  padding: 1em;
  margin: 2em;
  height: 20vh;
  color: white;
  width: 50vw;
  backdrop-filter: blur(22.5px);
  border-radius: 40px;
}

.homepageLeft {
  display: flex;
  flex-direction: column;
}

.features {
  color: white;
  display: flex;
  flex-direction: row;
}

.WhoAreWeCard {
  box-shadow: 0px 4px 24px 1px rgba(35, 16, 94, 0.25);
  padding: 1em;
  margin: 2em;
  backdrop-filter: blur(40px);
  border-radius: 40px;
}
